/*Info about the author 
Name, surname: <Iļja, Polozovs>
Student ID number: <ip22061>
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Russo+One&display=swap');



body {
  min-width: 534px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-image: url("images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: justify;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Russo One', sans-serif;
  color: white;
  text-transform: capitalize;
}


h1 {
  font-size: 22px;
  font-weight: lighter;
  font-variant: small-caps
}
h2{
  margin-bottom: 15px;
}
h3{
  margin-bottom: 10px;
}
p {
  opacity: 0.6;
  font-size: 14px;
  line-height: 20px;
}


.dynamics-list {
  opacity: 0.6;
}

#logo {

  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

#logo:hover {
  border: 2px solid red;
  border-radius: 10px;
}

a {
  color: white;
  text-decoration: none;
}


/*-----------CENTERED IMAGE-------------*/
.centered-content {
  margin: 0 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.top-img {
  height: 100vh;
  background-image: url('images/intro-img-812gts.jfif');
  background-size: cover;
  position: relative;
  text-align: left;
}



.slogan {
  position: absolute;
  bottom: 14%;
  left: 48.3%;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 2px;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Russo One', sans-serif;
}


/* ---------------NAVBAR------------------ */
nav {

  text-transform: uppercase;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 99;
}



.parent-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255);


}

.parent-menu li a:hover {
  text-decoration: underline;
}

.sub-menu-caption {
  color: #ff0000;
  cursor: pointer;
  position: relative;
  border-left: 1px solid darkred;
  text-align: right;
  line-height: 37px;
  padding-left: 16px;
  padding-right: 5px;
}

.sub-menu-caption:hover {
  color: red;
}

.upper-menu .sub-menu-caption {
  display: flex;
  flex: 1;
}


.upper-menu a {
  border-left: 1px solid darkred;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sub-menu {
  list-style: none;
  position: absolute;
  left: 0;
  display: none;
  z-index: 1;
}

.sub-menu li {
  float: left;
  line-height: 35px;
  height: 35px;
  background-color: #000;
  width: 100%;
  text-align: center;
  margin-right: 2px;
  border: 1px solid darkred;
  border-top: none;
}


.sub-menu li a {
  text-decoration: none;
  font-family: sans-serif;
  display: block;
  float: left;
  font-style: italic;
  font-size: 14px;
  padding-left: 16px;
}

.sub-menu li a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: red;

}

.sub-menu-caption:hover .sub-menu {
  display: block;
}

.right-menu {
  display: flex;
  height: 100%;
  flex: 1;
  justify-content: flex-end;
  border-left: 1px solid darkred;
}



.right-menu a {
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
}

/* -------------MAIN TEXT ------------------ */

.main-container{
  margin: 30px 75px;
}

.title-red {
  color: red;
}

.lead {
  opacity: 1;
  margin: 20px 0px;
}
.main-container p {
  margin-bottom: 15px;
}
#fuel-consumption {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.column-1 p {
  text-transform: uppercase;
}
.column-1 h3{
  margin-bottom: 10px;
}
.column-1 {
  text-align: start;
}
.column-2 {
  width: 50%;
  font-size: 11px;
  margin-top: auto;
}

.column-2 p {
  margin: 10px;
  line-height: 15px;
}

#interior-img {
  width: 20%;
  float: left;
  margin-right: 10px;
}

.div-img-right{
  position: relative;
}
.img-text{
  position: absolute;
  top:20px;
  color:red;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 27px;
  opacity: 1;
  text-shadow: 2px 2px 4px black;
  left: 50%;
  font-weight: normal;
  font-family: 'Russo One', sans-serif;
  margin-left: 10px;
}
.div-img-right a img{
  float: right;
  min-width: 480px;
  margin-left: 10px;
  width: 50%;
}

ul.dynamics-list{
  list-style: circle;
  list-style-position: inside;
}
.dynamics-list li{
  margin-bottom: 15px;
}

.specs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  
}
